<beans:beans
	xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<http auto-config="true">
		<intercept-url access="permitAll" pattern="/favicon.ico" />
		<intercept-url access="permitAll" pattern="/css/**" />
		<intercept-url access="permitAll" pattern="/fonts/**" />
		<intercept-url access="permitAll" pattern="/img/**" />
		<intercept-url access="permitAll" pattern="/js/**" />
		<intercept-url access="permitAll" pattern="/premium/**" />
		<intercept-url access="permitAll" pattern="/plugins/**" />
		<intercept-url access="permitAll" pattern="/login" />
		<intercept-url access="isAuthenticated()" pattern="/**" requires-channel="any"/>
		<!--Login customizado -->
		<form-login login-page="/login" password-parameter="senha" username-parameter="user"/>
		<csrf />
	</http>

	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="admin" password="admin" authorities="ROLE_USER" />
			</user-service>
		</authentication-provider>
	</authentication-manager>

</beans:beans>